# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2024-2A-TP1-ProgramacionDeSistemasDeJuegos.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
